In [1]:
with open('Housing-2.txt') as txt1, open('Housing.txt') as checker:
    ls = []
    for line in checker:
        ls.append(line.split(","))
    for i, line in enumerate(txt1):
        line = line.split(",")
        if line == ls[i]:
            continue
        else:
            for _ in range(len(line)):
                if ls[i][_] != line[_]:
                    print(f"in row {i + 1} column {ls[0][_].strip()}, you wrote \"{line[_].strip()}\" in the row where the right data is \"{ls[i][_].strip()}\"")

in row 2 column price, you wrote "13300000" in the row where the right data is "13300003"
in row 4 column bedrooms, you wrote "3" in the row where the right data is "7"
in row 105 column guestroom, you wrote "yes" in the row where the right data is "no"
in row 111 column guestroom, you wrote "yes" in the row where the right data is "no"

In [4]:
df

          Day     Event         Time
0  03/06/2025  Bootcamp  10.00-16.00

In [5]:
with open('soal.txt') as soal:
    soal_ls = []
    for lines in soal:
        soal_ls.append(lines.strip().split("||"))
    for _ in soal_ls:
        print(_[0])
        jawab = input("Jawab : ").lower()
        if jawab != _[1].strip().lower():
            print("salah")
        else:
            print("Benar")

1+1 =

Jawab :  2

Benar
Bendera Indonesia?

Jawab :  merah putih

Benar
Kota gudeg adalah:

Jawab :  yogya

salah
KomponenPC untuk penyimpanan file adalah...

Jawab :  HARDDISK

Benar
50 *20 =

Jawab :  1000

Benar

In [ ]:
import os
import pandas as pd
file = 'to-do.csv'

user = input("Ingin menambahkan acara? (y/n)").lower()
while user != 'n':
    if os.path.exists(file):
        with open(file, "a") as todo:
            tks = input("Masukkan tanggal, event, dan waktu (beri koma) :\n>>")
            todo.write(f"\n{tks}")
        df = pd.read_csv(file)
        print(df)
    else:
        if input("do you want to make a to do list? (y/n)").lower() == 'y':
            with open(file, 'w') as todo:
                todo.write('Day,Event,Time')
        else:
            print("Thank You")
            break
    user = input('Apakah anda ingin melanjutkan? (y/n)').lower()